.hero-bg{
    background-image: url('../images/home-pool.jpg');
    background-position: 10% 50%;
    background-size: cover;  
}

.services-bg {
    background-image: url('../images/a-passage.jpg');
    background-position: 10% 50%;
    background-size: cover;
}

.enjoy-bg{
    background-image: url('../images/enjoy.jpg');
    background-size: cover;
    background-position: 10% 60%;
}

.sponsors{
    width: 70px;
    height: auto;
    object-fit: cover;
}

.img-services{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.back-style{
    background: rgba(90, 90, 90, 0.6);
}

section .carousel-inner img{
    width: 700px;
    height: 400px;
    object-fit: cover;
}



